.login-form-wrapper{
    margin: 50px auto;    
}
.card{
    margin: 0 auto;
    width: 800px;
    overflow: hidden;
    border: hidden;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.form-left img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@media (max-width:767px) {
    .card{
        width: 100%;
    } 
}