<div class="container">
    <div class="login-form-wrapper">
        <div class="card">
            <div class="card-body py-md-0 ps-md-0">
              <div class="row">
                <div class="col-md-5 form-left d-none d-md-block">
                    <img src="../../assets/img/card-left-bg.jpg" />
                </div>
                <div class="col-md-7">
                    <div class="mt-md-5">
                        <h3>Welcome Back!</h3>
                        <p class="text-muted">Don't have an account? Create one by clicking <a class="text-decoration-none" href="#">create account</a></p>
                        <form [formGroup]="loginForm">
                            <div class="mb-3">
                              <label for="loginEmail" class="form-label">Email address</label>
                              <input type="email" class="form-control" id="loginEmail" aria-describedby="emailHelp" formControlName="name"/>
                              <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                            </div>
                            <div class="mb-3">
                              <label for="loginPassword" class="form-label">Password</label>
                              <input type="password" class="form-control" id="loginPassword" formControlName="password"/>
                            </div>
                            <div *ngIf="loginForm.get('password').errors?.minlength" class="text-danger">Password length should be min 2 characters</div>
                            <div class="mb-3 form-check">
                              <input type="checkbox" class="form-check-input" id="loginRememberMeCheck" />
                              <label class="form-check-label" for="loginRememberMeCheck">Remember Me</label>
                            </div>
                            <button type="submit" class="btn-md btn btn-primary rounded-pill px-5"
                            (click)="onValidateLogin()"
                            >Login</button>
                          </form>
                          
                    </div>
                </div>
              </div>
            </div>
          </div> 
    </div>
</div>